{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Article page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!-- <link rel="stylesheet" href="styles/debug.css"> -->

</head>
<body>

<!-- .section -->
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-large" href="">
            <h1 class="is-size-3-desktop is-size-1-mobile"> Makala </h1>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" href="../login_registration/register.html">
                        Sign up
                    </a>
                    <a class="button is-light" href="../login_registration/login.html">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- /.section -->
<section id="article" class="section is-medium">
    <div class="container grid">
        <article class="media center">
            <figure class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded" src="img/resuls.jpeg">
                </figure>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Resulkary Saparov</strong> <a>@username_Resuls</a><br>
                        <span class="has-text-grey">Software engineer at Turk AI<br>
								<time datetime="2020-06-20">June 20</time> · 20 min read</span>
                    </p>
                </div>
            </div>
        </article>
        <div class="section is-paddingless-horizontal">
            <h1 class="title is-2">How to get accepted to Bilkent University</h1>
            <h2 class="subtitle is-3">Bilkent inside out</h2>
        </div>

        <div class="image card">
            <img src="img/bilkent.jpeg">
        </div>

    </div>
</section>

</body>

<footer class="footer has-background-info">
    <div class="content has-text-centered">
        <p>
            Biz barada
        </p>
    </div>
</footer>

</html>
<style>

    .grid {
        display: grid;
        grid-template-columns: [xl-start] 1fr 1.5rem [md-start] minmax(0, 750px) [md-end] 1.5rem 1fr [xl-end];
    }

    .grid * {
        grid-column: md;
    }


    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    html, body {
        padding: 0;
        margin: 0;
        height: 100%;
    }

    .is-paddingless-horizontal {
        padding-left: 0;
        padding-right: 0;
    }

    #article {
        padding-bottom: 20px;
    }

</style>
