{% extends 'base.html' %}
{% load static %}
{% block title %} Article {% endblock %}
{% block content %}

<!-- /.section -->
<section id="article" class="section is-medium">
    <div class="container grid">
        <article class="media center">
            <figure class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded" src="img/resuls.jpeg">
                </figure>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Resulkary Saparov</strong> <a>@username_Resuls</a><br>
                        <span class="has-text-grey">Software engineer at Turk AI<br>
								<time datetime="2020-06-20">June 20</time> · 20 min read</span>
                    </p>
                </div>
            </div>
        </article>
        <div class="section is-paddingless-horizontal">
            <h1 class="title is-2">How to get accepted to Bilkent University</h1>
            <h2 class="subtitle is-3">Bilkent inside out</h2>
        </div>

        <div class="image card">
            <img src="img/bilkent.jpeg">
        </div>

    </div>
</section>
{% endblock %}
